<a href="https://colab.research.google.com/github/sofiagoldheart/ComputationalGeometry/blob/main/ID0205_Lab_2.03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicios**


1. Define 4 variables, 2 númericas y 2 con caracteres.

2. Implementa la operación OR con los conjuntos númericos

3. Implementa la operación OR con un conjunto númerico y otro con caracteres

4. Implementa la operación AND con los conjuntos númericos

5. Implementa la operación AND con un conjunto númerico y otro con caracteres

6. Implementa la igualdad con los conjuntos númericos

7. Implementa la igualdad con un conjunto númerico y otro con caracteres

8. Implementa la diferencia con los conjuntos númericos

9. Implementa la diferencia con un conjunto númerico y otro con caracteres

10. Aplica la compuerta XOR para los números binarios que se proveen a continuación para cada equipo.

Equipo-6: $1101 + 0111$

In [ ]:
#Ejercicio 1
num1 = 5
num2 = 2
palabra1 = 'buenas'
palabra2 = 'tardes'
print(f'2 variables tipo {type(num1)}: "{num1}" y "{num2}"\n2 variables tipo {type(palabra1)} "{palabra1}" y "{palabra2}"')

2 variables tipo <class 'int'>: "5" y "2"
2 variables tipo <class 'str'> "buenas" y "tardes"

In [ ]:
#Ejercicio 2
def operacion_or(a,b):
  return a or b
result = operacion_or(num1,num2)
print(num1 or num2)

5

In [ ]:
#Ejercicio 3
def operacion_or(a,b):
  return a or b
result = operacion_or(num1,palabra1)
print(result)

5

In [ ]:
#Ejercicio 4
def operacion_and(a, b):
  return a and b
result = operacion_and(num1, num2)
print(result)

2

In [ ]:
#Ejercicio 5
def operacion_and(a, b):
  return a and b
result = operacion_and(num1, palabra1)
print(result)

buenas

In [ ]:
#Ejercicio 6
def operacion_equal(a, b):
  return a == b
result = operacion_equal(num1, num2)
print(result)

False

In [ ]:
#Ejercicio 7
def operacion_equal(a, b):
  return a == b
result = operacion_equal(num1, palabra1)
print(result)

False

In [ ]:
#Ejercicio 8
def operacion_diff(a, b):
  return a != b
result = operacion_diff(num1, num2)
print(result)

True

In [ ]:
#Ejercicio 9
def operacion_diff(a, b):
  return a != b
result = operacion_diff(num1, palabra1)
print(result)

True

In [ ]:
#Ejercicio 10
# 1101 + 0111
print(True ^ False) 
print(True ^ True)  
print(False ^ True)  
print(True ^ True)

True
False
True
False

* $1 ⊕ 0 = 1 $
* $1 ⊕ 1 = 0 $
* $0 ⊕ 1 = 1 $
* $1 ⊕ 1 = 0 $